---
layout: default
title: Wings Foundation
---
<div class="home-wrap">
	{% include header.html %}
	<div class="home-sections">
		{% include loader.html %}
		{% include sections-about.html %}
		{% include sections-event.html %}
		{% include sections-aim.html %}
		{% include sections-photo.html %}
		{% include sections-donate.html %}
		{% include sections-form.html %}
	</div>
</div>
