.follow_button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-cta{
  font-size: 28px;
  display: block;
  background: white;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1.25;
  transition: all ease-in-out 300ms;
  border-radius: 50px;
  &:hover{
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -1px) ;
  }
}
.fa-graduation-cap{
  margin-left: 10px;
}
.fa-medkit{
  margin-left: 15px;
}
.fa-blind{
  margin-left: 25px;
}
.fa-sun-o{
  margin-left: 15px;
}
.fa-smile-o{
  margin-left: 19px;
}

.fa-arrow-left{
  margin-left: 10px;
}

@media (max-width:640px){
  .fa-graduation-cap{
    margin-left: 5px;
  }
  .fa-medkit{
    margin-left: 0px;
  }
  .fa-blind{
    margin-left: 5px;
  }
  .fa-sun-o{
    margin-left: 0px;
  }
  .fa-smile-o{
    margin-left: 0px;
  }

  .fa-arrow-left{
    margin-left: 0px;
  }
}
