.flex-video{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.3%;
  position: relative;
}
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video{
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  }
