#loader-wrapper {
    position: fixed;
    top: 0;
    left: 135;
    width: 100%;
    height: 100%;
    z-index: 1000;
    #loader {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 3px solid transparent;
        border-top-color: $loader-1;
        border-radius: 50%;
        z-index: 1001;
        animation: spin 2s linear infinite;
        &::before{
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          border: 3px solid transparent;
          border-top-color: $loader-2;
          border-radius: 50%;
          animation: spin 3s linear infinite;
        }
        &::after{
          content: "";
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          border: 3px solid transparent;
          border-top-color: $loader-3;
          border-radius: 50%;
          animation: spin 1.5s linear infinite;
        }
    }
    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: $loader-bg;
        z-index: 1000;
        transform: translateX(0);

    }
    .loader-section.section-left {
        left: 0;
        margin-left: 135px;
        @media (max-width: 775px){
          margin-left: 0px;
          margin-top: 90px;
        }
    }
    .loader-section.section-right {
        right: 0;
        @media (max-width: 775px){
          margin-top: 90px;
        }
    }
}

@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-135%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
     transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    // transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;

}
.no-js #loader-wrapper {
    display: none;
}
