nav.tn-nav-wrap
  height: 45px
  width: 100%
  background: $event-secondary
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2)
  position: fixed
  bottom: 0px
  display: block
  z-index: 99
  color: $event-white





.title-string
  position: absolute
  height: 45px
  top: 0
  left: 0
  padding-left: 50px

  font-family: georgia, serif !important
  font-size: 13px !important
  letter-spacing: .1em !important

  text-decoration: none !important
  border: none !important
  font-weight: normal !important
  font-style: normal !important
  overflow: hidden
  display: inline-block
  color: $event-white

  &:hover
    color: rgba(0, 0, 0, 0.5) !important
    text-decoration: none !important
    border: none !important

    p.blurb
      margin-top: -45px

  p
    margin: 0px
    font-size: 12px
    line-height: 45px
    height: 45px
    text-transform: uppercase
    font-family: georgia, serif  !important
    display: block
    -moz-transition: all 0.15s ease-in-out
    -webkit-transition: all 0.15s ease-in-out

    &.back-message
      text-transform: none
      font-style: italic
      font-size: 13px
      color: $event-white

      .icon-reply
        margin-right: 8px

.next-prev-btn
  position: absolute
  height: 24px
  width: 200px
  top: 50%
  margin-top: -12px
  right: 14px
  list-style-type: none

  a
    display: inline-block
    margin-left: 30px
    float: right
    width: 19px
    height: 24px
    border: none !important
    text-decoration: none
    color: $event-white
    font-size: 24px
    line-height: 24px

    &:hover
      color: $event-white


.arrow-right a:hover
    background-position: 0px 0px

.arrow-left a:hover
    background-position: -19px 0px

.next-prev-btn a:hover
  border: none !important
