<section >
<div class="flex flex--center">
	<div class="col-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudiandae harum repellat porro.</p></div>
	<div class="col-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudiandae harum repellat porro.</p></div>
</div>	
</section>
<section >
<div class="flex flex--space-around">
	<div class="col-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudiandae harum repellat porro.</p></div>
	<div class="col-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudiandae harum repellat porro.</p></div>
</section>

<section >
<div class="flex flex--center">
	<div class="col-2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudiandae harum repellat porro.</p></div>
</section>

<section >
<div class="flex flex--center">
	<div class="col-50 flex flex--center">
		<div class="col-1"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudi	andae harum repellat porro.</p></div></div>
		<div class="col-50"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati praesentium odit amet architecto delectus nihil veritatis expedita, quos molestias ut excepturi veniam voluptate, voluptates ullam reprehenderit, repudiandae harum repellat porro.</p></div>
	
</div>	
</section>