<div class="main-event">
  <div class="banner">
    <div class="wrapper">
      <h1>Events Organized By Wings Foundation.</h1>
    </div>
  </div>
  <ul class="main_event_ul">

    {% for post in site.posts  limit: 12 %}
    {% if post.type == "post" %}
    <a href="{{post.url}}">
    <li>
      <img id="image1" src="assets/img/events/{{post.photo}}" alt="{{post.title}}">
      <div class="main_event_info">
				<h2>{{post.title}}</h2>
        <p class="event_date">{{post.date | date:"%b %d , %Y"}}</p>
        <p class="event_desc">{{post.desc}}</p>
			</div>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
</div>
