<div class="mobile-nav">
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#event">Events</a></li>
		<li><a href="#aim">Objective</a></li>
		<li><a href="#photos">Photos</a></li>
		<li><a href="#donate">Donate</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</div>
<header>
	<div class="header-position">
		<a href="/"><h1 class="logo">Wings Foundation</h1></a>
		<nav class="site-nav">
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#event">Events</a></li>
				<li><a href="#aim">Objective</a></li>
				<li><a href="#photos">Photos</a></li>
				<li><a href="#donate">Donate</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
		<a href="mailto:" class="email-link">+Email</a>
		<div class="mobile-nav-toggle"><span></span></div>
	</div>
</header>
