<div class="main-photo">
	<div class="banner">
		<div class="wrapper">
			<h1>Photos of Events.</h1>
		</div>
	</div>
{% for post in site.posts %}
<a href="{{post.url}}"><p class="photo_event">{{post.title}} - {{post.date | date:"%b %d , %Y"}}</p></a>
<ul class="resources">
{% for image in post.images %}
	<li>
		<img id="image1" onClick="photo_modal(this)"  src="assets/img/events/photos/{{image.link}}" alt="{{post.title}}">
		<div class="resource_info">
			<h2>{{post.title}}</h2>
		</div>
	</li>
{% endfor %}
</ul>

{% endfor %}
</div>





<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
