<nav class="tn-nav-wrap">


		<a class="title-string" href="/events">
		  <p class="blurb">{{ page.title }}</p>
		  <p class="back-message"><i class="fa fa-arrow-left"></i> Go back to the Events</p>
		</a>

		<ul class="next-prev-btn">
			{% if page.next %}
			  <a href="{{ page.next.url }}" rel="next"><li class="fa fa-arrow-right arrow-right"></li></a>
			{% endif %}

			{% if page.previous %}
  			<a href="{{ page.previous.url }}" rel="prev"><li class="fa fa-arrow-left arrow-left"></li></a>
		  {% endif %}
		</ul>

</nav>
