<style>
  body{
    background-color: #2D4450;
  }
</style>

<div class="home-sections">
	  <div class="hero">
      <div class="flex flex--center">
	      <div class="col-3 card card_hero" style="background-image: linear-gradient(rgba(0,0,0,0.78),rgba(0,0,0,0.82)), url('http://wingsfoundation.co.in/assets/img/events/thumbnails/{{page.thumbnail}}');">
		      <h1>{{page.title}}</h1>
		      <p class="hero_address"><i class="fa fa-map-marker" aria-hidden="true"></i> {{page.location}}</p>
	      </div>
      </div>

  	<div class="info">
      <div class="flex flex--center">
  	    <div class="col-1">
        <div class="card card_info">
          <h4 class="info_heading">Volunteers</h4>
          {% for support in page.support %}
          <p class="info_p">{{support.name}}</p>
          {% endfor %}
          <h4 class="info_heading">Special Guest</h4>
          {% for guests in page.guest %}
          <p class="info_p">{{guests.name}}</p>
          {% endfor %}
      </div>
    </div>
    <div class="col-2 card card_info">
  	  <div class="col-100">
        <span class="info_about"><i class="fa fa-info-circle" aria-hidden="true"></i> Activities in {{page.title}} Event</span>
        {% for activity in page.activity %}
        <p class="info_p">{{activity.name}}</p>
        {% endfor %}
      </div>
    </div>
    </div>
    </div>

    <div class="flex flex--center col-100 card">
        <div class="main-photo">
        	<ul class="resources">
            {% for image in page.images %}
            <li>
        			<img id="image1" onClick="photo_modal(this)"  src="/assets/img/events/photos/{{image.link}}" alt="{{page.title}}">
        			<div class="resource_info">
        				<h2>{{page.title}}</h2>
        			</div>
        		</li>
            {% endfor %}
          </ul>
        </div>
    </div>

	</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
<div class="flex flex--center">
<div class="col-2">
<div id="disqus_thread"></div>
</div>
</div>
{% include post-nav-bar.html %}
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "headline" : "{{page.title}}",
  "name" : "{{page.title}}",
  "author" : {
    "@type" : "Person",
    "name" : "Wings Foundation"
  },
  "datePublished" : "{{page.date | date:"%Y-%m-%d"}}",
  "image" : "http://wingsfoundation.co.in/assets/img/events/thumbnails/{{page.fb}}",
  "articleSection" : "Lifestyle",
  "articleBody" : "{{page.desc}}",
  "url" : "http://wingsfoundation.co.in{{page.url}}",
  "publisher" : {
    "@type" : "Organization",
    "name" : "http://wingsfoundation.co.in"
  }
}
</script>


<script>

    var disqus_config = function () {
        this.page.url = "http://wingsfoundation.co.in{{page.url}}";
        //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//wingsfoundation.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
