<section class="aim" id="aim">
<div class="flex flex--space-around">
	<div class="col-1">
    <ul class="faces">
    <li class="face" style="background:#34314c;">
      <i class="fa fa-graduation-cap" aria-hidden="true" ></i>
      <div class="bubble">
        <legend>Wings Education</legend>
        <br>
        <p>Provide Eucational guidance to children in rural as well as urban areas.Introducing students with new Goverment Schemes.Ensuring scopes for girl’s education particularly for the girls belongs to poor and rural areas</p>

      </div>
    </li>

    <li class="face" style="background:#311e3e;">
      <i class="fa fa-medkit" aria-hidden="true" ></i>
      <div class="bubble">
        <legend>Health and Hygiene</legend>
        <p>Organising cleanliness drives in various villages across Dombivli and Navi Mumbai.</p>

      </div>
    </li>

    <li class="face " style="background:#34314c;">
      <i class="fa fa-blind" aria-hidden="true" ></i>
      <div class="bubble">
        <legend>Self Employment</legend>
        <p>Formation and strengthening of women Self Help Group for socio-economic empowerment of women.Motivate young generation with sucess stories.</p>

      </div>
    </li>

    <li class="face" style="background:#311e3e;">
      <i class="fa fa-sun-o" aria-hidden="true" ></i>
      <div class="bubble">
        <legend>Cultural Activities</legend>
        <p>Teaching students about historic heritage of india and various cultural activities are also conducted on various occasions.</p>

      </div>
    </li>

    <li class="face" style="background:#34314c;">
      <i class="fa fa-smile-o" aria-hidden="true" ></i>
      <div class="bubble">
        <legend>Animal Care</legend>
        <p>Proper animal care center for rural area for raising there cattle in proper manner.</p>

      </div>
    </li>
    <li class="face back-btn " style="background:#311e3e;"><i class="fa fa-arrow-left" aria-hidden="true" ></i></li>




    </ul>
  </div>

  <div class="col-50">
    <p class="home-lead">India is a young generation country becoming developed country.Our Aim is to provide chrildren in rural areas with quality education.Help maintain cleanliness in all cities...</p>
    <a href="#" class="home-cta">Objectives</a>
  </div>
</div>
</section>
