<section  class="contact" id="contact">
	<div class="flex flex--center">
		<div class="col-2">
			<p class="home-lead">...Contact Us...</p>
			<div id="form-messages" class=""></div>
			<div id="form-signup-box" class="">
				<form action="mail.php" id="contact-form" method="post">
					<input type="text" id="name" placeholder="Name" name="name" required>
					<input type="email" id="email" placeholder="Email" name="email" required>
					<textarea id="message" rows="4" placeholder="Subject" col="6" name="message" required></textarea>
					<input type="submit">
				</form>
			</div>
		</div>
	</div>
	<div class="follow_button">
		<div class="addthis_horizontal_follow_toolbox"></div>
	</div>

</section>
