<section  class="contact" id="donate">
	<div class="flex flex--center">
		<div class="col-2">
			<p class="home-lead">...Donate...</p>
      <p class="bank">Bank: Yes Bank</p>
      <p class="bank">Name: Wings Foundation</p>
      <p class="bank">Account No: 009983800001366</p>
      <p class="bank">IFS Code: YESB0000099</p>

		</div>
	</div>
</section>
