<section class="about" id="about">
	<div class="flex flex--center">
		<div class="col-50 push-right">
			<h2>Wings Foundation</h2>
			<p class="home-lead"> Non-profit organization, working in Dombivli and Navi Mumbai.Helping in Education,Career Guidance,School Level competitions,Cleanliness Drive.</p>
			<a href="#" class="home-cta">About Us</a>
		</div>
	</div>
</section>
