<section class="photo" id="photos">
  <div class="flex flex--space-around">
    <div class="col-1">
      <div class="video-strip">
      </div>
      <div class="flex-img">
        <img src="/assets/img/photo.jpg" alt="events">
      </div>
    </div>
    <div class="col-1 order-first">
      <p class="home-lead outdented">...Photos of  events organised by us...</p>
      <a href="/photos" class="home-cta">View all Photos</a>
    </div>
  </div>
</section>
