<section class="event" id="event">
<div class="flex flex--center">
		<div class="col-50">
      <div class="article-wrap">
        {% for post in site.posts limit: 12 %}
        <a href="{{post.url}}" class="article-thumb" style="background-image:url(assets/img/events/thumbnails/{{post.thumbnail}});">
          <div class="article-meta">
            <div class="name">{{post.title}}</div>
            <div class="date">{{post.date | date:"%b %d , %Y"}}</div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-50 flex flex--center order-first">
  		<div class="col-1">
        <div class="desc-wrap">
          <p class="home-lead outdented">...Events organised by our team...</p>
          <a href="events" class="home-cta">View all Events</a>
        </div>
      </div>
    </div>
</div>
</section>
