<section class="fb" id="fb">
  <div class="flex flex--space-around">
    <div class="col-50">
      <div class="fb-page" data-href="https://www.facebook.com/fWINGS-Foundation-1097900850228847" data-tabs="about" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/fWINGS-Foundation-1097900850228847" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fWINGS-Foundation-1097900850228847">WINGS Foundation</a></blockquote></div>
    </div>
    <div class="col-1 description">
      <p class="home-lead outdented">...Visit Our Facebook Page</p>
      <a href="https://www.facebook.com/WINGS-Foundation-1097900850228847" target="_blank" class="home-cta">Visit Facebook</a>
    </div>
  </div>
</section>
