.home-wrap{

display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 min-height:100vh
}

@media (max-width:775px){

.home-wrap{

display:block
}


}

.home-sections{

-webkit-box-flex:1;
 -webkit-flex:1;
 -ms-flex:1;
 flex:1
}

.home-sections section{

padding:50px 0
}

.home-sections .flex{

display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex
}

.home-sections .flex--center{

-webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}

.home-sections .flex--space-around{

-webkit-justify-content:space-around;
 -ms-flex-pack:distribute;
 justify-content:space-around
}

.home-sections .order-first{

-webkit-box-ordinal-group:0;
 -webkit-order:-1;
 -ms-flex-order:-1;
 order:-1
}

.col-1{
width: 320px;
max-width:320px;
 padding:0 10px;
 box-sizing:border-box
}

.col-2{
width: 340px;
max-width:640px;
 margin:0 10px;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 width:100%
}
.col-3{
	max-width: 1172px;
	width: 100%;
	padding: 10px 10px;
	margin: 10px 10px;
	box-sizing: border-box;
}
.col-100{
	max-width: 100%;
	width: 100%;
	margin: 10px 0;
	padding: 0;
}
.col-50{

width:50%
}

.push-right{

margin-left:330px
}

.home-lead{

font-size:36px;
 line-height:1.1
}

.home-lead.outdented{

text-indent:-.75em
}

@media (max-width:640px){

.home-sections .flex{

display:block
}

.col-1{

max-width:100%
}
.col-3{
  max-width: 100%;
  width: auto;
}
.col-50{

width:auto
}
.col-100{
  width: auto;
}
.push-right{

margin-left:0
}

.home-lead{

text-align:center
}

.home-lead.outdented{

text-indent:0
}


}
