.main-event{
  .wrapper{
		width:1140px;
		max-width: 90%;
		margin:0 auto;
	}
	.banner{
		background: $event-main url(../img/bg-pattern.svg);
		background-repeat: repeat;
		h1{
			color: $event-white;
			text-transform: uppercase;
			padding: 3em 0;
			margin: 0;
			font-size: 3em;
			line-height: 1;
		}
	}
  .main_event_ul{
  list-style: none;
  padding: 20px;
  margin: 0;
  display: inline-block;
  background-color: $event-main;
    li{
      background-color: $event-secondary;
      width: 31.8%;
      padding: 0;
      margin: 10px;
      float:left;
      display: inline-block;
      position: relative;
      overflow: hidden;
      color: $event-white;
      img{
        width: 100%;
        max-width: 100%;
        display: block;
        height: 320px;
        max-height: 320px;
      }
      h2{
        color: $event-highlight;
        font-size: 2em;
        padding: 20px 0 0 0;
        text-align: center;
        margin: 0;
      }
      p{
        font-size: 1em;
        text-align: center;
        font-weight: lighter;
        font-style: italic;
        margin: 10px 0;
      }
      .event_desc{
        text-align: left;
        padding: 10px 20px 20px 20px;
      }
    }
  }
}
@media (max-width: 1250px){
  .main-event{
    .main_event_ul{
      li{
        width: 30%;
        h2{
          font-size: 1em;
          padding: 20px 0 0 0;
        }
        .event_desc{
          text-align: left;
          padding: 10px 20px 20px 20px;
        }
      }
    }
  }
}
@media (max-width: 900px){
  .main-event{
    .main_event_ul{
      li{
        width: 47%;
      }
    }
  }
}
@media (max-width: 600px){
  .main-event{
    .wrapper{
  		width:600px;
  		max-width: 90%;
  	}
  	.banner{
  		h1{
        text-align: center;
  			font-size: 2em;
  		}
  	}
    .main_event_ul{
      li{
        width: 100%;
        margin: 10px auto;
        h2{
          font-size: 2em;
          text-align: center;
        }
        p{
          font-size: 1em;
        }
        .event_desc{
          padding: 10px 20px 20px 20px;
        }
      }
    }
  }
}
