.home-wrap{
	header{
		padding:30px 0;
		width: 135px;
		background:{
			color: $header-color;
		}

		.header-position{
			position:fixed;
			top:30px;
			left:0;
			bottom:30px;
			display:flex;
			flex-direction:column;
			justify-content:space-between;
			width: 135px;
		}
		.logo{
	  		@include hide-text;
	  		max-width: 135px;
	  		background:{
	  			image: url(/assets/wingsfoundation_logo.png);
	  			repeat:no-repeat;
	  			position: center;
	  			size:contain;
	  		}
	  		height:60px;
	  		padding:0;
	  		margin:0;
		}
		.site-nav{

			ul{
				list-style: none;
				margin: 20px 0;
				padding:0 20px 0 0;
				text-align: right;
				li{
					margin-bottom:10px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		.email-link{
				display: block;
				text-align: right;
				padding-right:20px;
		}
		.mobile-nav-toggle{
			display: none;
			width:50px;
			height: 50px;
			margin-right: 20px;
			// display: flex;
			align-items:center;
			cursor: pointer;
			span,
			span:before,
			span:after{
				content:"";
				display: block;
				width: 100%;
				height:2px;
				background:#333;
				position:relative;
				transition: all 0.3s ease-in-out;
			}
			span:before{
				top:15px
			}
			span:after{
				top:-17px
			}
			&.is-open span{
				background:transparent;
			}
			&.is-open span:before,
			&.is-open span:after{
				transform-origin:center;
				transform: rotate(45deg);
				top:0;
			}
			&.is-open span:before{
				transform: rotate(-45deg);
			}
		}
}
	.mobile-nav{
		display: none;
		position:absolute;
		width: 100%;
		background:$header-color;
		padding:30px 0 20px;
		transform: translateY(-100%);
		transition: all 0.3s ease-in-out;
		ul{
			list-style: none;
			margin:0;
			padding:0;
		}
		li{
			text-align: center;
			margin-bottom: 10px;
		}
	}
}
@media (max-width:775px){
	.home-wrap {
		header{
			width:auto;
			padding: 20px 0;
			.header-position{
				width: auto;
				position:relative;
				top:auto;
				bottom:auto;
				left:auto;
				flex-direction: row;
				align-items:center;
			}
			.site-nav{
				display: none;
			}
			.email-link{
				display: none;
			}
			.logo{
				height: 45px;
			}
			.mobile-nav-toggle{
				display: flex;
			}
		}
		.mobile-nav.is-open{
			display: block;
			transform: translateY(0%);
		}
	}
}
