section.fb{
  color: white;
  background: {
    color: $fb-bg;
    image:url('../img/event-bg.png');
  }
  iframe{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.3);
  }
  .home-cta{
    color: $fb-cta-color;
    background-color: $fb-cta;
  }
  .description{
    margin-top: 150px;
  }
}
@media (max-width:640px){
  .col-1{
    text-align: center;
  }
  .description{
    margin-top: 50px;
  }
}
