section.contact{
	background:{
    image: url(../img/event-bg.png);
    color: $form-bg;
  }
  color: white;

  .home-lead{
  	text-align: center;
  }
  .col-1{
  	width: 100%;
  }
	.bank{
		text-align: center;
		font-size: 2em;
	}
  #form-signup-box{
  	background: rgba(white,0.3);
  	border: 3px solid white;
  	box-shadow: 0px 3px 8px rgba(black, 0.3);
  	margin:50px auto;
  	position:relative;
  	width:90%;
  	border-radius:20px;

    &.success{
      display: none;
    }
    &.error{
      border: 3px solid #b94a48;
    }
  }
  input{
  	position: relative;
  	border: 0;
  	background:rgba(black, 0.3);
  	padding: 0;
  	display: block;
  	height:60px;
  	width:100%;
  	border-bottom: 1px white solid;
  	color:white;
  	font-size: 25px;
  	border-radius:  20px 20px 0 0;
  	&:focus{
  		outline:none;
  	}
  	&[type="submit"]{
  		background:white;
  		color: #ba9e44;
  		font-size: 24px;
	  	padding: 0 10px;
	  	border-radius: 0 0 15px 15px;
	  	cursor: pointer;
  	}
  }
  #email{
      border-radius: 0;
  }
  textarea{
  	@extend input;
  	height: 200px;
  	border-radius: 0;
  }
  ::-webkit-input-placeholder {
   text-align: center;
	}


  #form-messages.error {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    font-size: 3em;
    text-align: center;
  }

  #form-messages.success {
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      color: #468847;
      font-size: 3em;
      text-align: center;
    }
}
@media (max-width: 768px){
section.contact{
	.bank{
		text-align: left;
		font-size: 1.7em;
	}
}
}
