section.photo{
  background:{
    image: url(../img/event-bg.png);
    color: $photo-bg;
  }
  color: white;

  .home-cta{
    color: $photo-cta-color;
    background-color: $photo-cta;
  }
  .flex-img{
    box-shadow: 0px 4px 40px 3px rgba(0,0,0,0.5);
    transform: scale(1.4);
    height: 0;
    overflow: hidden;
    padding-bottom: 56.3%;
    position: relative;
    img{
      max-width: 100%;
    }
    @media(max-width: 985px){
      transform: scale(1);
    }
  }
  .video-strip{
    position: absolute;
    top: 0;
    margin: -50px 0;
    width: 100%;
    height: calc(100% + 100px);
    background: {
      image: url(../img/video-strip.png);
      position: center 0px;
      repeat: repeat-y;
      size:70%;
    }
    @media(max-width: 640px){
      display: none;
    }
  }
  .col-1{
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 640px){
      height: auto;
      display: block;
      padding: 50px 20px;

      &:last-child{
        padding: 0px 20px 50px;
      }
    }
  }
}
