section.event{
  background: {
    image: url('../img/event-bg.png');
    color: #ffd800;
    repeat: repeat;
  }
  .col-1{
    display: flex;
    align-items: center;
  }
  .home-cta{
    color: $event-cta-color;
    background: $event-cta;
    border-radius: 50px;
  }
  .article-wrap{
    margin-top:-50px;
    margin-bottom: -50px;
    @include clearfix;
  }
  .article-thumb{
    display: block;
    width:25%;
    float:left;
    position: relative;
    overflow: hidden;
    opacity: 0;
    &.is-visible{
      opacity: 1;
      transition: all 300ms ease-in-out;
    }
    &.is-emph{
      animation-name: tada;
      animation-duration: 1s;
     animation-fill-mode: both;
     z-index: 1;
   }
    &:after{
      content: '';
      display: block;
      padding-top: 100%;
    }
    background: {
      size:cover;
      position: center;
    }
  }
   .article-meta{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $event-cta;
    color: white;
    padding: 10px;
    transform: translate(0%, 100%) scale(0.5);
    transition: all 200ms ease-in-out;
    opacity: 0;
      .name{
        font-size: 18px;
        line-height: 1.2;
      }
      .date{
        font-style: italic;
      }
  }

  .article-thumb:hover .article-meta{
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
 }

@media (max-width:640px){
  .desc-wrap{
    margin-top: 100px;
  }
  section.event .article-wrap{
    &::after{
     clear: none;
   }
   }
}

@media (max-width: 999px) and (min-width: 640px){
  .article-thumb{
    width: 33.3%;
  }

}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
