section.aim{
  background:{
    image: url(../img/event-bg.png);
    color: $aim-bg;
  }
  color:white;
  overflow:hidden;

  .home-cta{
    color: $aim-cta-color;
    background-color: $aim-cta;
    width: 50%;
    margin-left: 150px;
  }
  .home-lead{
    margin-top: 250px;
    font-size: 25px;
    color: black;
    text-align: center;
    overflow: visible;
  }
  .faces{
    list-style: none;
    margin: -50px 0;
    height: calc(100% + 100px);
    padding: 0;
    position: relative;
    top: 800px;
    transition: all 0.3s ease-in-out;
    &.launched{
      top: 0px;
    }
  }
  .face{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 35px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    position: relative;
    cursor: pointer;
    i{
      font-size: 50px;
      color: white;
      // margin-left: 12px;
      margin-top: 15px;
    }
  }
  .back-btn{
    display : none;
  }
  .bubble{
    opacity: 0;
    position: absolute;
    left: 100%;
    bottom: 50%;
    width: 300px;
    background: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 40px 40px 40px 5px;
    border: 3px solid white;
    margin-left: 10px;
    pointer-events: none;
    transition: all 0.2s cubic-bezier(0,0.53,0.34,1.5);
    transform: scale(0);
    transform-origin: bottom left;
  }
  .face.has-bubble-open .bubble{
    opacity: 1;
    transform: scale(1);

  }
}
@media (max-width:640px){
  section.aim{
    .home-cta{
      width: 90%;
      margin-left: 20px;
    }
    .faces{
      margin: 0;
      width: 115px * 7;
      top:230px;
      left: 0px;
    }
    .face{
      display: inline-block;
      margin-right:  35px;
      &:back-btn{
        display:block;
      }
    }
    .bubble{
      bottom: 100px;
      left: 0px;
      box-sizing: border-box;
      margin-left: 0px;
    }
  }
}
