section.about{
	background:{
		image: url(../img/about-bg.jpg);
		color: $about-bg ;
		position:center bottom;
		size:cover;
	}
	h2{
		color: #ecf2fa;
		font:{
			size:60px;
		}
		line-height: 1;
		margin-left: -108px;
		margin-top:0;
	}
	p{
		color: #cfdef4;
		font-size: 20px;
		text-align: left;
		font-weight: 500;
	}
	.home-lead{
		padding-bottom: 180px;
	}
	.home-cta{
		background-color: $about-cta;
		color: $about-cta-color;
		margin-top: -130px;
		width: 60%;
		margin-left: 20px;
	}
}
@media(max-width:640px){
	section.about{
		h2,.home-lead{
			margin-left: auto;
			margin-right: auto;
			max-width: 300px;
		}
		.home-cta{
			width: 90%;
		}
	}
}
