.main-photo{
	.photo_event{
		text-align: center;
		font-size: 3em;
		color: $photo-highlight;
		background-color: $photo-main;
		display: block;
		margin: 0;
	}
	.wrapper{
		width:1140px;
		max-width: 90%;
		margin:0 auto;
	}
	.banner{
		background: $photo-main url(../img/bg-pattern.svg);
		background-repeat: repeat;
		h1{
			color: $photo-white;
			text-transform: uppercase;
			padding: 2em 0;
			margin: 0;
			font-size: 5em;
			line-height: 0.85;
		}
	}
	.resources{
		padding: 0;
		margin:0;
		list-style:none;
		background-color: $event-main;
		@include clearfix;
		li{
				background-image: linear-gradient(rgba(0, 0, 0, 0.298039), rgba(0, 0, 0, 0.298039));
				width: 25%;
				float: left;
				display: inline-block;
				position:relative;
				overflow: hidden;
				transition: transform 0.4s ,opacity 0.1s 0.3s;
				img{
					width: 100%;
					max-width: 100%;
					cursor: pointer;
					transition: 0.3s;
					height: auto;
					max-height:350px;
					display: block;
				}
			&:hover{
				.resource_info{
					opacity: 1;
					transform: translateY(0);
					transition: transform 0.4s ,opacity 0.1s 0.3s;
				}
				img{
					transform: scale(1.5);
					transition: transform 0.4s ,opacity 0.1s 0.3s;
				}
			}
		}
		.resource_info{
			position: absolute;
			top: auto;
			bottom: 0;
			background: rgba($photo-highlight,0.5);
			padding: 0em 0 1em  1em;
			height:30%;
			width:100%;
			opacity: 0;
			transform: translateY(100%);
			transition: transform 0.4s ,opacity 0.1s 0.3s;
			cursor: pointer;
			h2{
				margin-bottom: 1em;
				color: $photo-white;
				font-size: 1.5em;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}
}

@media (max-width: 1250px){
	.main-photo{
		.resources{
			li{
				width: 33.33%;
			}
		}
	}
}
@media (max-width: 900px){
	.main-photo{
		.banner{
			h1{
				font-size: 3.5em;
				line-height: 0.85;
			}
		}
		.resources{
			li{
				width: 50%;
			}
		}
	}
}
@media (max-width: 600px){
	.main-photo{
		.photo_event{
			text-align: center;
				font-size: 2em;
		}
		.banner{
			h1{
				font-size: 2.5em;
			}
		}
		.resources{
			li{
				width: 50%;
			}
		}
	}
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
