.hero{
	h1{
		font-size: 50px;
		font-weight: 400;
		line-height: 40px;
		text-align: center;
		color: $event-highlight;
	}
	.fa-map-marker{
		color: #999ea1
	}
	.hero_address{
		margin: 50px 0 0 0;
		font-size: 20px;
		color: #ddddd9;
	}
	.card_hero{
		height: 200px;
		color: #ddddd9;
    background-size: auto;
    background-size: contain;
		//  background-repeat: no-repeat;
	}

}
.card{
  background-color: $event-secondary;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}
@media (max-width:768px){
	.hero{
		h1{
			font-size: 30px;
			line-height: 40px;
		}
		.card_hero{
			height: 200px;
			color: #fff;
		}
		.hero_address{
			margin-top: 20px;
			font-size: 20px;
			margin-bottom: 0px;
		}
		.col-1{
			max-width: 100%;
			width: auto;
			margin: 5px 10px;
		}
		.col-2{
			max-width: 100%;
			width: auto;
			margin: 5px 10px;
		}
	}

}
.info{
	.card_info{
		padding: 20px;
	}
	.col-1{
		padding: 0;
	}
	.col-2{
		padding: 20px;
	}
	.info_heading{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
		color: $event-highlight;
		font-weight: 500;
		margin-bottom: 4px;
		display: block;
	}
	.info_about{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 1.5em;
		color: $event-highlight;
		font-weight: 500;
		margin-bottom: 4px;
		display: block;
	}
	b{
		color: $event-highlight;
		font-size: 1.3em;
	}
	.info_p{
		margin: 10px 0 0px 0;
		font-size: 1.1em;
		font-weight: 400;
		color: #cbcbcb;
	}
}
.activities{
  .activities_heading{
		text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.24;
		font-size: 18px;
		color: #333;
		font-weight: 300;
		margin-bottom: 4px;
		display: block;
	}

}
