---
layout: event
type: post
title: Teach and Learn
desc: Wings Foundation Volunteers are working in Ganeshpada,Airoli,Navi Mumbai. With new unique concept in Education that is Teach and Learn.
thumbnail: Teach-learn.webp
fb: Teach-learn.jpg
photo: thumbnails/Teach-learn.webp
keyword: Gudi Padwa,event,
location: Ganeshpada, Airoli
guest:
 - name: 1) Mrs Rupali Mitra
support:
  - name: 1) Wings Foundation Volunteers
activity:
  - name: 1) What is Education or Importance of Education? With Inspirational Themes and Stories.
  - name: 2) Respect Teachers & Parents. Because all we know that "When we teaching the youth we must not forget to teach there Heart."
  - name: 4) At the end of the day we are ending this with National Anthem.
  - name: We are teaching them Sunday To Sunday.One more interesting thing is We Educate Womens.when they came and told us Please educate us to atleast we can make a sign on paper and Marksheet of own Children.What we are learning from them....
  - name: <b>Patience, HardWork, Unity, Time Management.</b><br><br>We were also learning lots of things from students.we are so happy to teach all that which we had learned 19 years ago.This thing is encouraging to all. To Teach Somthing Old/New  & learn somthing New.

images:
 - link: teachandlearn/teachandlearn1.webp
---
{% include post.html %}
