---
layout: event
type: post
title: Gudi Padwa
desc: The Hindu/Marathi New year Gudi-Padwa was celebrated with students and Womens of  Banjara community.In presence of Shri. Rajesh Gavte, Mrs.Deepa Rajesh Gavte
thumbnail: GudiPadwa.webp
fb: GudiPadwa.jpg
photo: photos/gudipadwa/gudipadwa1.webp
keyword: Gudi Padwa,event,
location: Dombivli
guest:
  - name: 1) Shri. Rajesh Gavte
  - name: 2) Mrs. Deepa Rajesh Gavte
support:
  - name: 1) YOUNG INSPIRATORS NETWORK (YIN)
  - name: 2) Sakal Media Group
  - name: 3) Wings Foundation Volunteers
activity:
  - name: <b>1) We all inspired them For Education, Health</b><br><br>Ashwini Rathod was plays an important role because she is an engineering student from same Banjara Community.
  - name: <b>2) Distibuted prizes for womens.</b><br><br>Those womens are at the age of 40+ they are taking an interest in learning so we decided to Congratulate them with prizes.
  - name: At the end of the event they have taken an oath for there Children Education,Health, and Self Confidence.
images:
 - link: gudipadwa/gudipadwa1.webp
 - link: gudipadwa/gudipadwa6.webp
 - link: gudipadwa/gudipadwa7.webp
 - link: gudipadwa/gudipadwa8.webp
---
{% include post.html %}
