---
layout: event
type: post
title: International women's day
desc: Event was organised in two different places National School Diva and Sakal Bhavan Belapur, Navi Mumbai with successful launch of campaign named as SPACE.
thumbnail: Womens-Day.webp
fb: Womens-Day.jpg
photo:  thumbnails/Womens-Day.webp
keyword: womens day,event,
location: National School Diva and Sakal Bhavan Belapur
guest:
 - name: 1) Mrs Rupali Mitra
support:
  - name: 1) Wings Foundation Volunteers
activity:
  - name: On the occasion of Womens Day we had celebrated this day into two different places. <br> <br>1)National School Diva (E) <br> 2) Sakal Bhavan Belapur
  - name: <b>1)National School Diva (E).</b> <br><br> We had team of 10 volunteers from wings foundation  <br>Main part in this program is Personally we asked to student what would you like to do? & what is your aim??  then they gave a such confidencial answer such as I wann become an queen, President of India, Teacher,Marine Engineer,Doctor,Scientist etc. <br> This movement was very encouraging to us. To decide properly a particular Aim and focus on that, then volunteer guided them properly how to study?? how to learn?? How we will help you in your career ??.
  - name: <b>2) Mrs Rupali Mitra's Contribution</b><br><br>Having 30 years experience in teaching and also recieved 2 National Level award from H.R.D Ministry .Ma'am guided to 4-5th std Students.  about career, Education etc.This guidance was so interesting because ma'am told them a short story.At end of the event all students promised us they will wish their Mom,Sister and all to Wish U a very HappY Womens Day.
  - name: <b>3) Launched a campaign named as SPACE-[SAVE PAGES AND CARE FOR ENVIRONMENT].</b><br><br>We spread an awareness about save pages and save trees. Now we will give them a prize who reuses the last paper pages properly.
images:
 - link: womensday/womensday1.webp
 - link: womensday/womensday2.webp
 - link: womensday/womensday3.webp
---
{% include post.html %}
