<!DOCTYPE HTML>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %} {{ page.title }} |{% endif %} WF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wings Foundation is a Non-profit organization, working in Dombivli and Navi Mumbai.Helping in Education,Career Guidance,School Level competitions,Cleanliness Drive.">
    <meta name="keywords" content="{% if page.type =="post" %}{{ page.keyword }}{% else %}dombivli,ngo,non profit,Non-governmental organization{% endif %}">
    {% if page.type != "post" %}
    <meta property="fb:app_id" content="1357058854311378">
    <meta property="og:title" content="Wings Foundation">
    <meta property="og:url" content="http://wingsfoundation.co.in/">
    <meta property="og:image" content="http://wingsfoundation.co.in/assets/img/about-bg.jpg">
    <meta property="og:description" content="Non-profit organization, working in Dombivli and Navi Mumbai.Helping in Education,Career Guidance,School Level competitions,Cleanliness Drive.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="wingsfoundation">
    <link rel="canonical" href="http://wingsfoundation.co.in/" />
    {% endif %}
    {% if page.type =="post" %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://wingsfoundation.co.in{{ page.url }}">
    {% endif %}
    <link rel="author" href="Rakshan Shetty">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" sizes="32x32">
    <link rel="stylesheet" href="/assets/css/main.css">
    {% if page.type =="post" %}{{ page.styles }}{% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77422710-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    {{ content }}

    <script   src="/assets/js/min/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/min/main.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57681886850668b4"></script>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Wings Foundation",
        "url" : "https://www.wingsfoundation.co.in",
        "sameAs" : [
          "https://www.facebook.com/WINGS-Foundation-1097900850228847/",
       ]
      }
    </script>
    <script type="text/javascript">
      $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 500);
          return false;
        }
      }
    });
    });
    </script>
  </body>
</html>
