<!DOCTYPE HTML>
<html lang="en">
  <head {% if page.type != "post" %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"{% endif %}{% if page.type =="post" %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"{% endif %}>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %} {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.type != "post" %}
    <meta name="description" content="Events organised by wings foundation.">
    <meta name="keywords" content="Events">
    <meta property="fb:app_id" content="1357058854311378">
    <meta property="og:title" content="Events organised by Wings Foundation">
    <meta property="og:url" content="http://wingsfoundation.co.in/events">
    <meta property="og:image" content="http://wingsfoundation.co.in/assets/img/about-bg.jpg">
    <meta property="og:description" content="Events organised by wings foundation.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="wingsfoundation">
    <link rel="canonical" href="http://wingsfoundation.co.in/" />
    {% endif %}
    {% if page.type =="post" %}
    <meta name="description" content="{{page.desc}}">
    <meta name="keywords" content="{{page.keyword}}">
    <meta property="fb:app_id" content="1357058854311378">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="http://wingsfoundation.co.in{{page.url}}">
    <meta property="og:image" content="http://wingsfoundation.co.in/assets/img/events/thumbnails/{{page.fb}}">
    <meta property="og:description" content="{{page.desc}}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="wingsfoundation">
    <link rel="canonical" href="http://wingsfoundation.co.in{{page.url}}" />
    {% endif %}
    <link rel="author" href="Rakshan Shetty">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" sizes="32x32">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77422710-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    {{ content }}

    <script   src="/assets/js/min/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/min/main.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57681886850668b4"></script>
  </body>
</html>
